In [3]:
#Creamos el dataframe
import pandas as pd
df = pd.read_csv("country_vaccinations.csv")
df.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
11978,Zimbabwe,ZWE,2021-04-11,223492.0,194594.0,28898.0,759.0,12085.0,1.50,1.31,0.19,813.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1382795960...
11979,Zimbabwe,ZWE,2021-04-12,234579.0,205275.0,29304.0,11087.0,12724.0,1.58,1.38,0.20,856.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1382795960...
11980,Zimbabwe,ZWE,2021-04-13,248355.0,218516.0,29839.0,13776.0,12246.0,1.67,1.47,0.20,824.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1382795960...
11981,Zimbabwe,ZWE,2021-04-14,262128.0,231632.0,30496.0,13773.0,11816.0,1.76,1.56,0.21,795.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1382795960...
11982,Zimbabwe,ZWE,2021-04-15,285881.0,252932.0,32949.0,23753.0,13172.0,1.92,1.70,0.22,886.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1382795960...

In [4]:
df.groupby('country').agg({'people_vaccinated':'max','people_fully_vaccinated':'max'}).sort_values(by='people_vaccinated',ascending=False)

                                  people_vaccinated  people_fully_vaccinated
country
United States                           125822868.0               78498290.0
India                                   102349255.0               14874254.0
United Kingdom                           32444439.0                8513864.0
England                                  27251419.0                7054720.0
Brazil                                   24809790.0                8000733.0
...                                             ...                      ...
Guinea                                          NaN                      NaN
Mongolia                                        NaN                      NaN
Nepal                                           NaN                      NaN
Saint Vincent and the Grenadines                NaN                      NaN
Saudi Arabia                                    NaN                      NaN

[180 rows x 2 columns]

In [24]:
grouped = df.groupby('country').agg({'people_vaccinated':'max'})
grouped

             people_vaccinated
country
Afghanistan           120000.0
Albania                 6073.0
Algeria                    NaN
Andorra                 9781.0
Angola                245442.0
...                        ...
Venezuela             250000.0
Vietnam                58037.0
Wales                1640045.0
Zambia                   106.0
Zimbabwe              252932.0

[180 rows x 1 columns]

In [49]:
sorted_by_people_vaccinated = grouped.sort_values(by='people_vaccinated',ascending=False)
sorted_by_people_vaccinated.index.get_loc('Germany')

5