In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
oscars_short = pd.read_csv('Oscars-demographics-DFE.csv', encoding='latin-1',\
                usecols=['birthplace', 'date_of_birth', 'race_ethnicity', 'religion','sexual_orientation', 'year_of_award', 'award', 'movie', 'person'])

Index(['birthplace', 'date_of_birth', 'race_ethnicity', 'religion',
       'sexual_orientation', 'year_of_award', 'award', 'movie', 'person'],
      dtype='object')

In [3]:
grouped = oscars_short.groupby('movie')
grouped.head()
grouped.get_group('Cabaret')

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,movie,person
46,"Chicago, Il",23-Jun-27,White,Na,Straight,1973,Best Director,Cabaret,Bob Fosse
209,"Cleveland, Oh",11-Apr-32,White,Jewish,Gay,1973,Best Supporting Actor,Cabaret,Joel Grey
296,"Los Angeles, Ca",12-Mar-46,White,Na,Na,1973,Best Actress,Cabaret,Liza Minnelli

In [4]:
grouped = oscars_short.groupby(['person','award']).size().sort_values(ascending=False)
grouped.head()

person             award
John Ford          Best Director            4
Katharine Hepburn  Best Actress             4
Hilary Swank       Best Actress             4
Jason Robards      Best Supporting Actor    3
Tom Hanks          Best Actor               3
dtype: int64

In [5]:
grouped.nlargest(10)

person             award
John Ford          Best Director            4
Katharine Hepburn  Best Actress             4
Hilary Swank       Best Actress             4
Jason Robards      Best Supporting Actor    3
Tom Hanks          Best Actor               3
Elizabeth Taylor   Best Actress             3
Billy Wilder       Best Director            3
Frank Capra        Best Director            3
Walter Brennan     Best Supporting Actor    3
Gary Cooper        Best Actor               3
dtype: int64

In [7]:
oscars_short_by_religion = oscars_short.groupby(['award','religion']).size()
oscars_short_by_religion = oscars_short_by_religion.reset_index()
oscars_short_by_religion = oscars_short_by_religion.rename(columns={0:'count_religion'})
oscars_short_by_religion.head(4)

        award               religion  count_religion
0  Best Actor  Anglican/episcopalian               1
1  Best Actor                Atheist               2
2  Best Actor                Baptist               1
3  Best Actor   Born-Again Christian               3

In [22]:
oscars_short_BestActress = oscars_short[oscars_short['award'].str.contains('Best Actress')]
oscars_short_BestActor = oscars_short[oscars_short['award'].str.contains('Best Actor')]
#oscars_short_best_actress
#oscars_short_best_actor

In [24]:
oscars_short_best_ActorandActress = oscars_short_BestActor.append(oscars_short_best_actress)
oscars_short_best_ActorandActress

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,movie,person
87,"Rorschach, Switzerland",23-Jul-1884,White,Na,Bisexual,1929,Best Actor,The Last Command,Emil Jannings
88,"Columbus, Oh",29-Mar-1889,White,Na,Straight,1930,Best Actor,In Old Arizona,Warner Baxter
89,"London, England",10-Apr-1868,White,Na,Straight,1930,Best Actor,Desraeli,George Arliss
90,"Philadelphia, Pa",28-Apr-1878,White,Roman Catholic,Straight,1931,Best Actor,A Free Soul,Lionel Barrymore
91,"Kansas City, Mo",1-Apr-1885,White,Na,Straight,1932,Best Actor,The Champ,Wallace Beery
...,...,...,...,...,...,...,...,...,...
428,"London, England",27-Feb-32,White,Jewish,Straight,1967,Best Actress,Who's Afraid of Virginia Woolf?,Elizabeth Taylor
429,"Lincoln, Ne",30-Jul-74,White,Na,Straight,2005,Best Actress,Million Dollar Baby,Hilary Swank
430,"Lincoln, Ne",30-Jul-74,White,Na,Straight,2005,Best Actress,Million Dollar Baby,Hilary Swank
431,"Los Angeles, Ca",27-Sep-72,White,Jewish,Straight,1999,Best Actress,Shakespeare in Love,Gwyneth Paltrow
435,"Ilford, Essex, England",28-Dec-34,White,Na,Straight,1970,Best Actress,The Prime of Miss Jean Brodie,Maggie Smith

In [26]:
print(len(oscars_short_best_actor))
print(len(oscars_short_best_actress))

88
95

In [28]:
oscars_short_best_ActorandActress_concat = pd.concat([oscars_short_best_actor,oscars_short_best_actress])
oscars_short_best_ActorandActress_concat

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,movie,person
87,"Rorschach, Switzerland",23-Jul-1884,White,Na,Bisexual,1929,Best Actor,The Last Command,Emil Jannings
88,"Columbus, Oh",29-Mar-1889,White,Na,Straight,1930,Best Actor,In Old Arizona,Warner Baxter
89,"London, England",10-Apr-1868,White,Na,Straight,1930,Best Actor,Desraeli,George Arliss
90,"Philadelphia, Pa",28-Apr-1878,White,Roman Catholic,Straight,1931,Best Actor,A Free Soul,Lionel Barrymore
91,"Kansas City, Mo",1-Apr-1885,White,Na,Straight,1932,Best Actor,The Champ,Wallace Beery
...,...,...,...,...,...,...,...,...,...
428,"London, England",27-Feb-32,White,Jewish,Straight,1967,Best Actress,Who's Afraid of Virginia Woolf?,Elizabeth Taylor
429,"Lincoln, Ne",30-Jul-74,White,Na,Straight,2005,Best Actress,Million Dollar Baby,Hilary Swank
430,"Lincoln, Ne",30-Jul-74,White,Na,Straight,2005,Best Actress,Million Dollar Baby,Hilary Swank
431,"Los Angeles, Ca",27-Sep-72,White,Jewish,Straight,1999,Best Actress,Shakespeare in Love,Gwyneth Paltrow
435,"Ilford, Essex, England",28-Dec-34,White,Na,Straight,1970,Best Actress,The Prime of Miss Jean Brodie,Maggie Smith